################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/49469db7-4265-4bfe-92ee-97c46e71e7fa.vsidx
