################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/49469db7-4265-4bfe-92ee-97c46e71e7fa.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/e3b3cbe4-719a-4573-b8b5-6a3b46c43838.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/1fdc5559-fc2e-4ef5-9997-d354a2a7540a.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/ef24a38c-fb69-4599-8c13-6b00827c31d7.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/484be60c-7e43-44d4-995e-793893edada7.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/65096108-4a4f-4171-adcf-566790678859.vsidx
/PassFort_Upload_Data/PassFort_Upload/.vs/PassFort_Upload/FileContentIndex/98e93cb3-53c2-488c-bf24-e7ebe9024b9d.vsidx
